[submodule "utils"]
	path = utils
	url = https://github.com/OpenHUTB/utils.git
[submodule "help/roadrunner-scenario"]
	path = help/roadrunner-scenario
	url = https://github.com/OpenHUTB/roadrunner-scenario
[submodule "help/roadrunner"]
	path = help/roadrunner
	url = https://github.com/OpenHUTB/roadrunner
