/* Localized Style Sheet: CN */

@charset "utf-8";

/*
-----------------------------------
TOC
-----------------------------------

Fonts:....................Available font-family declarations

Bootstrap Overrides:......Changes to base-Bootstrap CSS

Page Globals:.............Styling of HTML and BODY

Site Elements:............Re-usable site elements 	

Structure:................Site structural components

Section Specific:.........Styles for Home and all Sub Pages

Page/Element Specific:....Page, element or flow Specific CSS

Override CSS:.............Additive/override CSS

Responsive:...............Specific styles for Desktop, Tablet and Mobile
*/



/* ------------------------------------
$ Page Globals
------------------------------------ */
html body { font-family: "Microsoft YaHei","Segoe UI",Arial,Helvetica; }

/* Character Wrapping Fix */
body { line-break: strict; }

/* ---- Hierarchy ---- [ Additional Styles: SM,XS ] */
h1 { font-family: "Microsoft YaHei","Segoe UI",Arial,Helvetica; } 
h2 { font-family: "Microsoft YaHei","Segoe UI",Arial,Helvetica; }
h3 { font-family: "Microsoft YaHei","Segoe UI",Arial,Helvetica; }
h4 { font-family: "Microsoft YaHei","Segoe UI",Arial,Helvetica; }


/* ---- Pagination Controls ---- */
.pagination_container #search_btn:not(.collapsed):before { content: "关闭";}



/* ------------------------------------
$ Structure
------------------------------------ */

/* ---- Header ---- */

	/* Global Navbars */
	.navbar-collapse li { font-size: 13px; }

	.logo_container p.tagline { font-size: 11px; line-height: 2.4; }	

	/* Non-Mobile Adjustments */
	@media only screen and (min-width:768px) {

		#headernav_collapse { font-size: 13px; line-height: 1.1; }

		#headernav_collapse .dropdown-menu li { padding-top: 4px; padding-bottom: 4px; font-size: 13px; }

		#headernav_collapse .site_search input.textfield { font-size: 12px; }
	}


/* ---- Section Header ---- */

	/* Section Header: Hierarchy */
	.section_header h1,
	.section_header p.h1 { font-family: Microsoft YaHei,Segoe UI,Arial,Helvetica; }
	.section_header h3,
	.section_header p.h3 { font-family: Microsoft YaHei,Segoe UI,Arial,Helvetica; }

	.section_header em { font-family: Microsoft YaHei,Segoe UI,Arial,Helvetica !important; }
	.section_header strong { font-family: Microsoft YaHei,Segoe UI,Arial,Helvetica !important; font-weight: bold !important; }
	.section_header em strong,
	.section_header strong em { font-family: Microsoft YaHei,Segoe UI,Arial,Helvetica !important; font-weight: bold !important; }


/* ---- Footer ---- */

	/* Footer: Standard */

		/* Footer Nav  -- [ Additional Styles: XS ] */
		.footernav { float: none; }



/* ------------------------------------
$ Section Specific
------------------------------------ */

/* ---- Search Widget ---- */
	
	/* Off-Canvas Actuator */
	.offcanvas_actuator #translation_icon-filter.offcanvas_actuator_label:before { content: "筛选"; }
	.offcanvas_actuator .offcanvas_actuator_close:before { content: "关闭"; }



/* ------------------------------------
$ Override CSS
------------------------------------ */

/* ---- Additive / Reductive CSS ---- */

	/* Add */
	.add_font_cn { font-family: Microsoft YaHei,Segoe UI,Arial,Helvetica !important; }
	.add_font_cn em { font-family: Microsoft YaHei,Segoe UI,Arial,Helvetica !important; font-style: italic !important; }
	.add_font_cn strong { font-family: Microsoft YaHei,Segoe UI,Arial,Helvetica !important; font-weight: bold !important; }
	.add_font_cn em strong,
	.add_font_cn strong em { font-family: Microsoft YaHei,Segoe UI,Arial,Helvetica !important; font-style: italic !important; font-weight: bold !important; }



/*-----------------------------------
   Responsive
-----------------------------------*/

/* ---- Non-Mobile ---- */
@media only screen and (min-width: 768px) {

}


/* ---- Desktop Large ---- */
@media only screen and (min-width: 1200px) {

}


/* ---- Desktop Small ---- */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

}


/* ---- Tablet ---- */
@media only screen and (min-width: 768px) and (max-width: 991px) {

}


/* ---- Mobile ---- */
@media only screen and (max-width: 767px) {
	
}
